{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: Profil {% endblock %}

{% block body %}

<h2>{{ participant.pseudo }}</h2>

    <dt>Prénom :</dt>
    <dd>{{ participant.prenom }}</dd>
    <dt>Nom :</dt>
    <dd>{{ participant.nom }}</dd>
    <dt>Téléphone :</dt>
    <dd>{{ participant.telephone }}</dd>
    <dt>Email :</dt>
    <dd>{{ participant.mail }}</dd>
    <dt>Ville de rattachement :</dt>
    <dd>{{ participant.site.nomSite}}</dd>

    <a href="{{ path('app_Modify', {'id' : participant.id}) }}" class="btn btn-primary">Modifier</a>
    <a href="{{ path('app_sortie') }}" class="btn btn-primary">Retour</a>

{% endblock %}