{% extends 'base.html.twig' %}

{% block title %}Profil | {{ parent() }}{% endblock %}

{% block body %}

<h2>{{ participant.pseudo }}</h2>
    <table class="profil">
        <tr>
            <td>Prénom :</td>
            <td>{{ participant.prenom }}</td>
        </tr>
        <tr>
            <td>Nom :</td>
            <td>{{ participant.nom }}</td>
        </tr>
        <tr>
            <td>Téléphone :</td>
            <td>{{ participant.telephone }}</td>
        </tr>
        <tr>
            <td>Email :</td>
            <td>{{ participant.mail }}</td>
        </tr>
        <tr>
            <td>Ville de rattachement :</td>
            <td>{{ participant.site.nomSite}}</td>
        </tr>
        <tr>
            {% if app.user and app.user.id == participant.id %}

            <td>        <a href="{{ path('app_Modify', {'id' : participant.id}) }}" class="btn btn-primary">Modifier</a>
            </td>
            {% endif %}

            <td>        <a href="{{ path('app_sortie') }}" class="btn btn-primary">Retour</a>
            </td>
        </tr>

    </table>




{% endblock %}