{% extends 'base.html.twig' %}

{% block title %}Sorties | {{ parent() }}{% endblock %}

{% block body %}
    <div class="zone1">
        <p>Date du jour : {{ dateTime}} </p>
        <p>Participant :
            {#        {{ app.participant.prenom }}{{ app.participant.nom|slice(0, 1)}}#}
            . </p>
    </div>
    <div >
        <h4>Filtrer les sorties</h4>
        <p>Site : </p>
        {{ form_start(form) }}
        {{ form_row(form.siteOrganisateur) }}
        {{ form_end(form) }}
    </div>
<div class="zone2">
<p>Le nom de la sortie contient : </p>

    {# templates/sortie/index.html.twig #}

    {{ form_start(searchForm) }}
    {{ form_row(searchForm.searchTerm) }}
    {{ form_end(searchForm) }}

    <!-- partie qui permet de display les sorties à l'ecran. Voir si tjrs utile une fois que le tableau sera en place -->
    {#{% for sortie in sorties %}
        <div>
            <h2>{{ sortie.name }}</h2>
        </div>
    {% endfor %}#}
</div>
    <div class="zone3">

    </div>











{% endblock %}
