<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sortir.com{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/Logo.png') }}">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <div class="content">
        {# TODO : tester une fois les differentes pages crées la macro #}
        {# macro --> pour automatiser le aria-current#}
        {# TODO : rajouter les liens des pages #}
        {# TODO : voir la font si elle est correcte ou si on la fait plus arrondi #}
        {# navbar #}
        {% if is_granted('IS_AUTHENTICATED') %}

        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand fs-1" href="{{ path ('app_sortie') }}"><img src="{{  asset('images/Logo.png') }}"> Sortir.com</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    {% set current_route = app.request.attributes.get('_route') %}

                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link " href="{{ path ('app_sortie') }}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link "  href="#">Villes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sites</a>
                        </li>

                        <li class="nav-item">
                             <a class="nav-link" href="{{ path ('app_Profil', {'id' : participant.id}) }}">Mon profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        {% endif %}

        {# {% macro nav_link(route, text) %}
                {% set current_route = app.request.attributes.get('_route') %}
                <li class="nav-item">
                    <a class="nav-link{% if current_route == route %} active{% endif %}" {% if current_route == route %}aria-current="page"{% endif %} href="{{ path(route) }}">{{ text }}</a>
                </li>
            {% endmacro %}

            {% import _self as macros %}

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {{ macros.nav_link('home', 'Accueil') }}
                {{ macros.nav_link('villes', 'Villes') }}
                {{ macros.nav_link('sites', 'Sites') }}
                {{ macros.nav_link('profil', 'Mon profil') }}
                {{ macros.nav_link('deconnexion', 'Se déconnecter') }}
            </ul>#}
        {% block body %}

        {% endblock %}
    </div>

        <footer>
            <div class="footer-container">
                <div class="footer-section">
                    <h6>Sortir.com</h6> <!-- Content for the first section goes here -->
                    <p>© Copyrights. All right reserved. <a href="#">Sortir.com</a> </p>
                </div>

            </div>
        </footer>
    </body>
</html>
